@import "tailwindcss";
@import "./styles/colors.css";
@import "./styles/font.css";

/* Base styles */
body {
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

/* Apply consistent rounded corners throughout the application */
button,
input,
select,
.rounded {
  border-radius: 0.5rem;
}
